@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Libre+Baskerville&family=M+PLUS+1+Code:wght@100;300&family=Mukta:wght@200&family=Open+Sans:wght@300;400&family=Outfit:wght@200;300&family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
/* 
altering anchor decorations */
a,
a:visited {
  text-decoration: underline;
  text-decoration-color: none;
  color: black;
}
a:hover {
  color: green;
}
.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#name {
  display: flex;
  justify-self: center;
}

/* link to single player page */
.toggle {
  display: flex;
  justify-self: end;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explainscore {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#topscore {
  align-self: center;
}

#userbox {
  padding: 10px 32px;
  margin-right: 10px;
}

input {
  padding: 15px 32px;
}

.diceboxes {
  display: flex;
  flex-direction: row;
}

/* styling buttons */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}

.die {
  width: 180px;
  height: 200px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.diebox1,
.diebox2 {
  width: 180px;
  margin: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.squareofdie {
  width: 150px;
  height: 150px;
}
#dieface,
#dieface2 {
  display: none;
  width: 150px;
  height: 150px;
}

#scoreValuePlayer1,
#scoreValuePlayer2 {
  font-size: 30px;
  color: red;
}

#numberText,
#numberText2 {
  margin: 20px;
  font-size: 20px;
}

/* media queries for phone, arrange in column */
@media only screen and (max-width: 480px) {
  .explainscore {
    display: inline;
  }
  #topscore {
    margin-left: 15%;
  }
  #userinput {
    margin-top: 5px;
  }
  #inputButton {
    margin-left: 22%;
  }
  .die {
    height: 150px;
  }
  .squareofdie {
    width: 80px;
    height: 80px;
  }
  #dieface,
  #dieface2 {
    display: none;
    width: 80px;
    height: 80px;
  }
}
